{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">عن الصنف</h1>
                    <p class="lead fw-normal text-white-50 mb-0">عبي دارك..  و انت بالدار</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="card m-5" style="max-width: 900px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8 d-flex flex-column flex-row-reverse">
                    <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">Barcode: {{product.barcode}}</p>
                      <p class="card-text">عن الصنف: {{product.description}}</p>
                      <p class="card-text">التصنيف: <a href="/category/{{product.category.name}}">{{product.category}}</a></p>

                      <p class="card-text"><small class="text-body-secondary">اخر تعديل: {{product.updated_at}}</small></p>
                      <p class="card-text">السعر: {{product.price}}</p>

                      {% if request.user.is_authenticated and request.user.is_staff %}
                      <a href="#" class="card-link text-danger">Delete product</a>
                      <a href="#" class="card-link">Edit Product</a>
                      {%endif%}
<br>
<a href="/" class="card-link "> Back to home</a>

                    </div>
                    <div class="card-body mt-5">
                    
                      </div>
                  </div>
                </div>
              </div>
        </div>
{% endblock %}