
{% extends 'base.html' %}
{% block content %}


<section class="h-100">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0">Your Order:</h3>
          </div>
  {%if not products %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="fw-normal mb-0">Your Cart is Empty!</h4>
  </div>
  {%endif%}
          {% for product in products %}
          <div class="card rounded-3 mb-4" data-product-id="{{product.id}}">
            <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-3" alt="Product Image">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <p class="lead fw-normal mb-2">{{ product.name }}</p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2 decrement-btn">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" name="quantity" class="form-control form-control-sm quantity-input"
                            value="{{product.cart_quantity}}" min="1" data-price="{{ product.price }}" disabled>
                        <button class="btn btn-link px-2 increment-btn">
                            <i class="fas fa-plus">Units</i>
                        </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h5 class="mb-0 total-price">₪{{ product.cart_total_price|floatformat:2 }}</h5>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="{% url 'cart_remove' product_id=product.id %}" class="text-danger">
                          <i class="fas fa-trash fa-lg"></i>Remove
                      </a>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
        


        <div class="row">
          <div class="col-md-8 mb-4">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Biling details</h5>
              </div>
              <div class="card-body">
                <form method="post" action="/cart/make_order" >
                  {% csrf_token %}

        
                  <!-- Text input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form7Example4" class="form-control"  name="address_extra">
                    <label class="form-label" for="form7Example4">Address</label>
                    {% if request.session.errors.address %}
                    <small class="text-danger">{{request.session.errors.address}}</small>
                    {% endif %}
                  </div>
        

                  <!-- Number input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="number" id="form7Example6" class="form-control"  name="contact_extra">
                    <label class="form-label" for="form7Example6">Phone</label>
                    {% if request.session.errors.contact %}
                    <small class="text-danger">{{request.session.errors.contact}}</small>
                    {% endif %}
                  </div>
        
                  <!-- Message input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" id="form7Example7" rows="4"  name="notes"></textarea>
                    <label class="form-label" for="form7Example7">Additional information (Optional)</label>
                  </div>
                  <small>For User:  {{current_user.email}}</small>
              </div>
            </div>
          </div>
        
          <div class="col-md-4 mb-4">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Products
                    <span>{{total_cart_value}}₪</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Shipping
                    <span>Gratis</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including VAT)</p>
                      </strong>
                    </div>
                    <span><strong>{{total_cart_value}}₪</strong></span>
                  </li>
                </ul>
        
                {% if products %}
                <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="m-3 btn btn-success btn-block btn-lg text-white ">Submit Order</button>
             {%endif%}
            </form>

              </div>
            </div>
          </div>
        </div>






























  

        

       
  
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}



